<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!--
css 위치는 header, js 위치는 footer
왜 이렇게 배치했는가?
HTML은 위에서부터 코드가 실행되기 때문에 페이지 로딩 속도를 높이기 위해
css - 화면을 그리는 역할
bootstrap을 사용하기 위해서(의존한다) jquery가 있어야하므로 jquery 먼저 선언
-->
